/* Chalkboards View */
#my-chalkboards,
#all-chalkboards {
  display: none;
}
#my-chalkboards.active,
#all-chalkboards.active {
  display: block;
  animation: fadeIn .25s ease-in forwards;
}

.chalkboards-description {
  word-wrap: break-word;
}

.chalkboards-date {
  float: right;
  margin-left: 20px;
}