/* Chalkboards View */
#my-chalkboards,
#all-chalkboards {
  display: none;
  padding-bottom: 57px;
  animation: fadeIn .25s ease-in forwards;
}
#my-chalkboards.active,
#all-chalkboards.active {
  display: block;
}

.attendee-name {
  font-weight: 700;
  font-size: 18px;
  margin: 15px 0 0 5px;
}
@media(max-width: 365px) {
  .attendee-name {
    margin: 5px 0 0 5px;
  }
}

.edit-chalkboard {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 1.4em;
  color: #fff;
  cursor: pointer;
}
