/* Used to unstyle close button for mobile merit fullscreen dialog */
#active-merits svg {
  fill: unset !important;
}

/*********** Create Amount View *************/
#merit-create-amount-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: fadein 0.4s;
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  #merit-create-amount-container {
    bottom: 70px;
  }
}

#merit-create-amount {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
  height: 50%;
  color: var(--primary-color);
  font-size: 110px;
}

#numbers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.3em;
  height: calc(50% - 60px);
  padding: 25px;
}

.grid-button {
  background-color: #fff;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.grid-button:focus {
  outline: none;
}

#merit-create-buttons {
  display: flex;
  height: 60px;
}

.mobile-merit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  max-height: 60px;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  padding: 0;
  border: 0;
  letter-spacing: 0.5px;
}
.mobile-merit-button:disabled {
  opacity: 0.7;
  cursor: auto;
}

.mobile-merit-button.merit {
  border-left: 1px solid #ff424a;
}

.mobile-merit-button.confirm {
  position: sticky;
  bottom: 0;
}

/************* Select Users View **************/
#merit-select-users-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  animation: fadeup 0.4s;
  --background-color: #fafafa;
  --list-color: #fff;
  --primary-color: #c0001f;
  --border-color: #e0e0e0;
  --text-color: rgba(0, 0, 0, 0.87);
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  #merit-select-users-container {
    bottom: 70px;
  }
}

.garnett-list.merit-select {
  flex-grow: 1;
}

.garnett-chip.merit-select {
  margin: 5px !important;
  background-color: var(--primary-color);
  color: #fff;
}

#chips-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
}

#merit-inputs-container {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.merit-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 60px;
  font-size: 16px;
  background-color: #fff;
  padding: 0 10px;
  border: 0;
  border-top: 1px solid #e0e0e0;
}

#merit-users {
  width: 100%;
  height: 49px;
  font-size: 16px;
  padding: 0;
  border: 0;
}

.merit-input::placeholder,
#merit-users::placeholder {
  font-weight: 300;
  color: #ccc;
}

#merit-select-users-container .pledge-merits {
  margin: 0;
  margin-right: 10px;
}

/**************** Animations *****************/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
