/* Used to unstyle close button for mobile merit fullscreen dialog */
#my-merits svg {
  fill: unset !important;
}

#my-merits .garnett-chip.merit-dialog > svg{
  fill: #fff !important;
}

/*********** Select Amount View *************/
#mobile-create-amount-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: fadeup 0.4s;
  --list-color: #fff;
  --text-color: rgba(0, 0, 0, 0.87);
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  #mobile-create-amount-container {
    bottom: 70px;
  }
}

#mobile-create-merit-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
  flex-grow: 1;
  color: var(--primary-color);
  font-size: 110px;
}

#numbers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.3em;
  height: calc(50% - 60px);
  padding: 25px;
}

.grid-button {
  background-color: #fff;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.grid-button:focus {
  outline: none;
}

#mobile-create-merit-buttons {
  display: flex;
  position: sticky;
  bottom: 0;
  height: 60px;
}

.mobile-merit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  max-height: 60px;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  font-family: 'Helvetica Neue', Roboto, sans-serif;
  font-size: 18px;
  padding: 0;
  border: 0;
  letter-spacing: 0.5px;
}
.mobile-merit-button:disabled {
  opacity: 0.7;
  cursor: auto;
}

.mobile-merit-button.merit {
  border-left: 1px solid rgb(192, 0, 31, 0.5);
}

.confirm-container {
  background-color: #fff;
  position: sticky;
  bottom: 0;
}

.chips-container.mobile-create-amount {
  justify-content: center;
  padding: 64px 0 0;
}

/************* Select Users View **************/
#mobile-merit-select-users-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  animation: fadeup 0.4s;
  --background-color: #fafafa;
  --list-color: #fff;
  --primary-color: #c0001f;
  --border-color: #e0e0e0;
  --text-color: rgba(0, 0, 0, 0.87);
  --text-light: rgba(0, 0, 0, 0.54);
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  #mobile-merit-select-users-container {
    bottom: 70px;
  }
}

.garnett-list.merit-select {
  flex-grow: 1;
}

/***** Inputs *****/
#merit-inputs-container {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.merit-input,
.DayPickerInput > input {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 60px;
  font-size: 16px;
  background-color: #fff;
  padding: 0 10px;
  border: 0;
  border-top: 1px solid #e0e0e0;
}

.DayPickerInput {
  width: 100%;
}
.DayPickerInput > input {
  border-bottom: 1px solid #e0e0e0;
}

.DayPicker-Months {
  width: 100vw;
}

#date-picker-overlay {
  position: fixed;
  top: 305px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  transition: all 0.2s;
}
#date-picker-overlay.hidden {
  visibility: hidden;
  opacity: 0;
}

.merit-input.name {
  padding: 0;
  border-top: 0;
}

.merit-input::placeholder {
  font-weight: 300;
  color: #ccc;
}

#mobile-select-all-pledges {
  position: absolute;
  top: 23px;
  right: 10px;
  font-size: 14px;
  color: var(--accent-color);
}

/**************** Animations *****************/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
