/* Merit List */
.merit-name {
  font-weight: 700;
  margin: 0;
}

.merit-amount {
  float: right;
  font-family: 'Luckiest Guy';
  font-size: 18px;
  margin-right: 10px;
}
.merit-amount.small {
  margin-top: 10px;
}