.total-merits {
  position: fixed;
  background-color: var(--primary-color);
  color: #fff;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}