.merit-amount-container {
  float: right;
  text-align: center;
}
.merit-amount-container.small {
  margin-top: -6px;
}

.merit-amount {
  font-family: 'LeagueSpartan-Bold';
  font-size: 16px;
  margin: 0;
  margin-top: 15px;
}
.merit-amount.small {
  margin-top: 10px;
}

.merit-date {
  color: var(--text-light);
  font-size: 14px;
  margin: 0;
}
.merit-date.small {
  font-size: 12px;
}

/* Merit Dialog */
#remaining-merits {
  font-size: 14px;
  color: var(--text-light);
  margin: 20px auto 0;
}
