.garnett-subheader.merit-view {
  position: sticky;
  top: -20px;
  justify-content: center;
  max-width: unset;
  padding: 0 !important;
  z-index: 2;
}
@media (max-width: 767px) {
  .garnett-subheader.merit-view {
    top: 0;
  }
}

.merit-amount-container {
  float: right;
  text-align: center;
}
.merit-amount-container.small {
  margin: -6px 0 0;
}

.merit-amount {
  font-family: 'LeagueSpartan-Bold';
  font-size: 16px;
  margin: 10px 0 0;
}

.merit-date {
  color: var(--text-light);
  font-size: 14px;
  margin: 0;
}
.merit-date.small {
  font-size: 12px;
}
