/* Pledge List */
.pledge-name {
  font-weight: 700;
  margin: 0;
}

.pledge-merits {
  float: right;
  font-family: 'LeagueSpartan-Bold';
  font-size: 16px;
  color: var(--text-dark);
  margin-right: 10px;
}

/* Merit List */
.merit-amount-container {
  float: right;
  margin-right: 10px;
  text-align: center;
}
.merit-amount-container.small {
  margin-top: -6px;
}

.merit-amount {
  font-family: 'LeagueSpartan-Bold';
  font-size: 16px;
  margin: 0;
  margin-top: 15px;
}
.merit-amount.small {
  margin-top: 10px;
}
.merit-amount.green {
  color: #3cbf7e;
}
.merit-amount.red {
  color: #f60027;
}

.merit-date {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
}
.merit-date.small {
  font-size: 12px;
}

/* Merit Dialog */
#remaining-merits {
  font-size: 14px;
  margin: 20px auto 0;
}
.garnett-list.dialog.pledge {
  margin-top: 0;
}
