.user-photo {
  object-fit: cover;
  display: block;
  height: 150px;
  width: 150px;
  margin: 30px auto;
  border-radius: 50%;
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  height: 40px;
  width: 40%;
  max-width: 576px;
  font-size: 16px;
  margin: 30px auto;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
@media(max-width: 767px) {
  .logout-button {
    width: 80%;
  }
}
.logout-button:hover {
  background-color: var(--primary-dark);
}