.pledge-name {
  display: inline-block;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.active-merits {
  font-family: 'Luckiest Guy';
  font-size: 18px;
  float: right;
}