#sidebar-photo-container {
  background-color: #000;
  width: 70px;
  height: 70px;
  margin: 0 0 20px;
  border: 2px solid #fff;
  border-radius: 50%;
}

#sidebar-photo {
  object-fit: cover;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  transition: opacity 0.2s ease-in-out;
}
#sidebar-photo:hover {
  opacity: 0.9;
}

#account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 158px;
}
@media (max-height: 660px) {
  #account-info {
    margin-bottom: 20px;
  }
}
#account-info > #account-name,
#account-info > #merit-count {
  font-weight: 400;
}
#account-info > #account-name {
  margin: 0;
}
#account-info > #merit-count {
  display: flex;
  align-items: center;
  margin: 15px auto 0;
}

#account-info .total-merits {
  font-family: 'LeagueSpartan-Bold';
  font-size: 24px;
  color: #fff;
  margin-right: 5px;
}
