#data-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 0 57px;
  overflow-y: auto;
  animation: fadeIn .25s ease-in forwards;
}
@media (max-width: 767px) {
  #data-container {
    padding-top: 55px;
    -webkit-overflow-scrolling: touch;
  }
}

#pledging-data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#rush-data-container {
  width: 100%;
  height: 100%;
}

#data-app-header {
  font-family: 'LeagueSpartan-Bold';
  color: var(--text-color);
  margin: 20px 0 50px;
  z-index: 2;
}

#back-button {
  position: fixed;
  color: var(--text-color);
  z-index: 4;
}
@media (min-width: 768px) {
  #back-button {
    top: 15px;
    left: 30px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
  }
  #back-button:hover {
    background-color: var(--hover-color);
  }
}
@media (max-width: 767px) {
  #back-button {
    top: 22px;
    left: 20px;
    font-size: 24px;
  }
}

/********* Garnett Subheader *********/
@media (min-width: 768px) {
  .garnett-subheader.data-app {
    border-bottom: 1px solid var(--border-color);
  }
}
/*** Only target subheaders within PledgingData ***/
@media (max-width: 767px) {
  #pledging-data-container .garnett-subheader {
    position: sticky;
    top: 7px;
    z-index: 2;
  }
  #pledging-data-container .garnett-subheader:not(.toggle-view)::after {
    content: '';
    position: absolute;
    top: 48px;
    left: -20px;
    width: 100%;
    height: 10px;
    padding-left: 20px;
    background: linear-gradient(0deg, var(--fader-color), var(--background-color));
  }
}

/* Chips container */
#pledging-data-container .garnett-subheader.toggle-view {
  position: sticky;
  top: -20px;
  justify-content: center;
  max-width: unset;
  padding: 10px 0 0 !important;
  margin: 0 0 50px;
  z-index: 3;
}
@media (max-width: 767px) {
  #pledging-data-container .garnett-subheader.toggle-view {
    top: -55px;
  }
}
@media (min-width: 768px) {
  #pledging-data-container .garnett-subheader.toggle-view::after {
    content: '';
    position: absolute;
    top: 62px;
    width: 100%;
    height: 10px;
    background: linear-gradient(0deg, var(--fader-color), var(--background-color));
  }
}

/********** Garnett List ***********/
#pledging-data-container .garnett-list-item > div > div {
  min-height: 78px;
  padding-left: 90px !important;
}
#pledging-data-container .garnett-divider {
  margin-left: 90px !important;
}
