#pledge-data,
#rush-data,
#my-data {
  display: none;
  padding-top: 75px;
  padding-bottom: 57px;
  animation: fadeIn .25s ease-in forwards;
}
#pledge-data.active,
#rush-data.active,
#my-data.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
