@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

/* Not working after router change */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  background-color: #2e2f33;
  margin: 0;
  padding: 0;
  --primary-color: #960018;
  --primary-light: crimson;
  --primary-dark: #610301;
  --secondary-color: #444;
  --secondary-light: #555;
  --secondary-dark: #2e2f33;
  --accent-color: #ccc;
  --accent-light: #eee;
  --complement-color: #00967e;
}

@media(max-width: 410px) {
  h1 {
    font-size: 32px;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px var(--secondary-dark);
  -webkit-text-fill-color: #fff;
}

/* Main Loading Screen */
.loading {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2e2f33;
  z-index: 1099;
}

.loading-image {
  position: absolute;
  background-image: url('./gear.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  -webkit-animation: spin 5s linear infinite, fadeIn 0.5s ease-in;
  animation: spin 5s linear infinite, fadeIn 0.5s ease-in;
  z-index: 1100;
}
@media(max-width: 768px) {
  .loading-image {
    height: 150px;
    width: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }
}

.loading-container {
  background-color: #fafafa;
  height: 100vh;
  width: 100vw;
}
.app-header {
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  color: #fff;
  height: 60px;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  z-index: 1;
}
.app-header.loading {
  height: 80px;
}

/* Animates the component in */
.animate-in {
  -webkit-animation: fadeIn 0.25s ease-in;
  animation: fadeIn 0.25s ease-in;
}

/* Placeholder skeleton for list items */
.placeholder-skeleton {
  position: relative;
  height: 88px;
  background-color: #fff;
  z-index: -1;
}
.placeholder-avatar {
  position: absolute;
  top: 9px;
  left: 16px;
  height: 70px;
  width: 70px;
  background-color: #eee;
  border-radius: 50%;
}
.placeholder-name {
  position: absolute;
  top: 16px;
  left: 102px;
  height: 16px;
  width: 100px;
  background-color: #eee;
}
.placeholder-year {
  position: absolute;
  top: 40px;
  left: 102px;
  height: 10px;
  width: 60px;
  background-color: #eee;
}
.placeholder-major {
  position: absolute;
  top: 54px;
  left: 102px;
  height: 10px;
  width: 120px;
  background-color: #eee;
}
.placeholder-date {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 10px;
  width: 34px;
  background-color: #eee;
}
.placeholder-merits {
  position: absolute;
  top: 45px;
  right: 30px;
  height: 16px;
  width: 34px;
  background-color: #eee;
}
.placeholder-description {
  position: absolute;
  top: 32px;
  left: 16px;
  height: 16px;
  width: 120px;
  background-color: #eee;
}

.title {
  width: 55%;
  font-weight: 700;
  font-size: 50px;
  color: var(--primary-color);
  margin: auto;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 4px solid;
  text-transform: uppercase;
}
@media(max-width: 768px) {
  .title {
    width: 80%;
  }
}

.header {
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

@media(min-width: 992px) {
  .col-md-5th {
    width: 20%;
  }
}

.logo {
  height: 60px;
  width: 60px;
}
@media(max-width: 768px) {
  .logo {
    height: 50px;
    width: 50px;
  }
}

/* Animations */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes slideInUp {
  from {
    /*transform: translate3d(0, 100%, 0);*/
    transform: translate(-50%, -20%);
    visibility: visible;
  }

  to {
    /*transform: translate3d(0, 0, 0);*/
    transform: translate(-50%, -50%);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes spin {
  from { 
    transform: rotate(0deg); 
  }
  to { 
    transform: rotate(360deg); 
  }
}

.spin {
  animation-name: spin;
}

/* Loader */
.loader-container {
  background-color: #fafafa;
  height: calc(100vh - 100px);
  width: 100vw;
}
.loader-container.pledge {
  height: calc(100vh - 150px);
}

.line-scale-container {
  position: relative;
  top: calc(50% - 50px);
  left: calc(50% - 20px);
}

@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }

.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div {
  background-color: var(--complement-color);
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block; }
