@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('../fonts/LeagueSpartan-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  --background-color: #fefefe;
  --list-color: #fff;
  --primary-color: #c0001f;
  --primary-light: crimson;
  --primary-dark: #960018;
  --secondary-color: #777;
  --secondary-dark: #2e2f33;
  --border-color: #e0e0e0;
  --accent-color: #00967e;
  --accent-dark: #1d796a;
  --text-color: rgba(0, 0, 0, 0.87);
  --text-light: rgba(0, 0, 0, 0.54);
  --icon-color: var(--primary-color);
  --icon-dark: var(--secondary-color);
  --dialog-button: var(--primary-color);
  --label-color: rgba(0, 0, 0, 0.3);
  --placeholder-color: #e0e0e0;
}

/* Dark Mode */
body.dark-mode {
  background-color: var(--background-color);
  --background-color: #1a1a1a;
  --list-color: #292929;
  --primary-color: crimson;
  --secondary-color: #ccc;
  --secondary-dark: #e0e0e0;
  --border-color: #363636;
  --text-color: #fafafa;
  --text-light: #e0e0e0;
  --icon-color: var(--text-color);
  --icon-dark: #777;
  --dialog-button: var(--text-color);
  --label-color: #777;
  --placeholder-color: #363636;
}

@media (max-width: 420px) {
  h1 {
    font-size: 32px;
  }
}

/* Removes Chrome autofill yellow highlight */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
    -webkit-box-shadow: inset 0 0 0px 1000px #fff;
    -webkit-text-fill-color: var(--secondary-dark);
}
@media (max-width: 420px) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0px 1000px var(--background-color);
  }
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

/* Removes button highlight for Chrome */
div, a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.green {
  color: #37b074;
}

.red {
  color: #f60027;
}

.loading-image {
  position: absolute;
  background-image: url('./gear.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  -webkit-animation: spin 5s linear infinite, fadeIn 0.5s ease-in;
  animation: spin 5s linear infinite, fadeIn 0.5s ease-in;
  z-index: 10;
}
@media (max-width: 767px) {
  .loading-image {
    height: 150px;
    width: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }
}

.loading-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
}

.app-header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  color: #fff;
  height: 52px;
  width: 100%;
  font-size: 20px;
  text-align: left;
  z-index: 1;
  transition: top 0.2s ease-in-out;
}
.app-header > span:first-child {
  margin-left: 15px;
}
.app-header.no-tabs {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.back-button {
  margin-left: auto;
  margin-right: 15px;
  cursor: pointer;
}

/* Placeholder skeleton for list items */
.placeholder-skeleton {
  position: relative;
  height: 88px;
  background-color: var(--list-color);
  z-index: -1;
}
@media (max-width: 767px) {
  .placeholder-skeleton {
    background-color: var(--background-color);
  }
}

.placeholder-avatar {
  position: absolute;
  top: 9px;
  left: 16px;
  height: 70px;
  width: 70px;
  background-color: var(--placeholder-color);
  border-radius: 50%;
}
.placeholder-name {
  position: absolute;
  top: 16px;
  left: 102px;
  height: 16px;
  width: 100px;
  background-color: var(--placeholder-color);
}
.placeholder-year {
  position: absolute;
  top: 40px;
  left: 102px;
  height: 10px;
  width: 60px;
  background-color: var(--placeholder-color);
}
.placeholder-major {
  position: absolute;
  top: 54px;
  left: 102px;
  height: 10px;
  width: 120px;
  background-color: var(--placeholder-color);
}
.placeholder-date {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 10px;
  width: 34px;
  background-color: var(--placeholder-color);
}
.placeholder-merits {
  position: absolute;
  top: 45px;
  right: 30px;
  height: 16px;
  width: 34px;
  background-color: var(--placeholder-color);
}
.placeholder-description {
  position: absolute;
  top: 32px;
  left: 16px;
  height: 16px;
  width: 120px;
  background-color: var(--placeholder-color);
}

/* TT Logo to go back to website */
.logo {
  height: 60px;
  width: 60px;
}
@media (max-width: 767px) {
  .logo {
    height: 50px;
    width: 50px;
  }
}

/* Animations */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Animates the component in */
.animate-in {
  -webkit-animation: fadeIn 0.25s ease-in;
  animation: fadeIn 0.25s ease-in;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes slideInUp {
  from {
    /*transform: translate3d(0, 100%, 0);*/
    transform: translate(-50%, -20%);
    visibility: visible;
  }

  to {
    /*transform: translate3d(0, 0, 0);*/
    transform: translate(-50%, -50%);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes spin {
  from { 
    transform: rotate(0deg); 
  }
  to { 
    transform: rotate(360deg); 
  }
}

.spin {
  animation-name: spin;
}

/* Loader */
.loader-container {
  position: absolute;
  top: 55px;
  left: 0;
  height: calc(100vh - 110px);
  width: 100%;
  max-width: 100%;
  z-index: -1;
}

.line-scale-container {
  position: absolute;
  top: 40%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }

.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div {
  background-color: var(--accent-color);
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block; 
}
