/* Container */
#content-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* Mobile slide view */
#content-container > .animate-in {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 55px 0;
  overflow: auto;
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  #content-container > .animate-in {
    -webkit-overflow-scrolling: touch;
  }
}

.fixed-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  font-size: 1.5em;
  transform: scale(1);
  z-index: 10;
}
.fixed-button.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
}

/****************** Mobile Header *********************/
#mobile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--list-color);
  color: var(--secondary-color);
  height: 55px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid var(--border-color);
  letter-spacing: 0.5px;
  z-index: 10;
}
#mobile-header .total-merits {
  font-family: 'LeagueSpartan-Bold';
  font-size: 22px;
  color: var(--text-color);
  margin-right: 5.7px;
  margin-bottom: -3px;
}

/****************** Clear Input *******************/
#clear-input {
  position: absolute;
  top: 50%;
  right: 14px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  font-weight: 300;
  color: var(--text-color);
  text-align: center;
  transform: translateY(-50%) scale(1);
  transition: all 0.2s ease-in-out;
}
#clear-input.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) scale(0.5);
}
