/**************** Mobile Merit Button ******************/
.fixed-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  font-size: 1.5em;
  transform: scale(1);
  z-index: 10;
}
.fixed-button.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
}

/****************** Mobile Header *********************/
#mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 56px;
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  padding: 0 16px;
  letter-spacing: 0.5px;
  z-index: 10;
}
#header-title {
  display: flex;
  align-items: center;

}
#mobile-header .user-photo {
  width: 35px;
  height: 35px;
  margin-right: 16px;
}
#mobile-header #merit-container {
  font-size: 14px;
}
#mobile-header .total-merits {
  font-family: 'LeagueSpartan-Bold';
}
#mobile-header .merit-icon {
  color: var(--primary-color);
}

/**************** Mobile Navbar *******************/
.mobile-nav-item {
  text-align: center;
}
.mobile-nav-item * {
  color: var(--icon-dark);
}
.mobile-nav-item.active * {
  color: var(--icon-color);
}
.mobile-nav-item > button {
  min-width: unset !important;
  width: 20vw;
}
.mobile-nav-item span {
  font-size: 22px !important;
}
@media (max-width: 375px) {
  .mobile-nav-item div {
    font-size: 11px !important;
  }
}

/****************** Clear Input *******************/
#clear-input {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  font-weight: 300;
  color: var(--text-color);
  text-align: center;
  transform: translateY(-50%) scale(1);
  transition: all 0.2s ease-in-out;
}
#clear-input.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) scale(0.5);
}

/* Used to unstyle close button for mobile merit fullscreen dialog */
#fullscreen-dialog svg {
  fill: var(--text-color) !important;
}
