/* Hide button */
.hide-buttons .fixed-button{
  transform: scale(0);
}

/* Container */
.content-container {
  height: 100vh;
  overflow: hidden;
}
/* Mobile slide view */
.content-container .animate-in {
  position: relative;
  min-height: calc(100vh - 162px);
  max-height: 100vh;
  padding-bottom: 55px;
  overflow: auto;
}
@media(max-width: 768px) {
  .content-container .animate-in {
    padding-top: 55px;
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
  .content-container .animate-in {
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch;
  }
}

.fixed-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  font-size: 1.5em;
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
  transform: scale(1);
  z-index: 10;
}
.fixed-button.hidden {
  transform: scale(0);
}
@media(min-width: 901px) {
  .fixed-button {
    right: 50%;
    -webkit-transform: translateX(435px) scale(1);
    transform: translateX(435px) scale(1);
  }
  .fixed-button.hidden {
    -webkit-transform: translateX(435px) scale(0);
    transform: translateX(435px) scale(0);
  }
}

/* Garnett List, List Items, and Dividers */
.garnett-subheader {
  max-width: 700px;
  width: 100%;
  margin: auto !important;
}
.garnett-subheader.dialog {
  max-width: unset;
}
.garnett-filter {
  position: relative;
  top: -3px;
  cursor: pointer;
}
.reverse-toggle {
  padding: 0 !important;
}
.reverse-toggle .icon-down-open-mini {
  top: 4px;
}

.garnett-list {
  position: relative;
  width: 100vw;
  max-width: 700px;
  padding: 0 !important;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.garnett-list.no-header {
  margin-top: 48px !important;
}
.garnett-list.dialog {
  width: auto;
  max-width: none;
  margin: 24px auto;
}

.garnett-list-item > div > div {
  background-color: #fff;
}
.garnett-list-item.large > div > div {
  min-height: 48px;
  padding-left: 102px !important;
}
.garnett-list-item.small > div > div {
  padding: 8px 16px !important;
}
.garnett-list-item.settings > div > div {
  z-index: -1;
}
.garnett-list-item.long > div > div > div:last-child {
  height: fit-content !important;
  white-space: pre-line !important;
}

.garnett-image {
  object-fit: cover;
  top: 9px !important;
}

@media(max-width: 365px) {
  .garnett-list-item.large > div > div {
    min-height: unset;
    padding-left: 80px !important;
  }
  .garnett-image {
    height: 50px !important;
    width: 50px !important;
  }
}

.garnett-icon {
  font-size: 1.4em;
  color: var(--primary-color);
}

.garnett-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  height: 16px;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.garnett-description {
  word-wrap: break-word;
}

.garnett-date {
  float: right;
  color: var(--secondary-color);
  font-size: 14px;
  margin-left: 20px;
}

.garnett-divider {
  position: relative;
}
@media(min-width: 366px) {
  .garnett-divider.large {
    margin-left: 102px !important;
  }
}
@media(max-width: 365px) {
  .garnett-divider.large {
    margin-left: 80px !important;
  }
}

/* Garnett Dialog */

/* Dialog container */
.garnett-dialog-content {
  width: 90% !important;
  max-width: 450px !important;
}

/* The actual tabs */
.garnett-dialog-tabs > div:first-child {
  position: fixed;
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  z-index: 2;
}
/* The content container of the tabs */
.garnett-dialog-tabs > div:last-child > div {
  top: 48px;
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
  .garnett-dialog-tabs > div:last-child > div {
    position: fixed !important;
    top: 112px;
    height: calc(100vh - 112px);
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch;
  }
}

.garnett-dialog-body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 44px !important;
  border-bottom: 1px solid var(--secondary-light) !important;
}
.garnett-dialog-body.grey {
  background-color: var(--background-color);
}
.garnett-dialog-body.tabs {
  min-height: 320px;
  height: 600px;
  padding: 0 !important;
}

.garnett-dialog-title {
  background-color: var(--primary-color);
  color: #fff !important;
  font-size: 20px !important;
}

.garnett-input {
  margin: 0 auto;
  flex: 0 0 auto;
}

/* Bottom Navigation */
.bottom-tabs {
  position: fixed !important;
  bottom: 0;
  border-top: 1px solid var(--secondary-light);
  z-index: 10;
}

/* Photo for mobile dialog */
.dialog-photo {
  object-fit: cover;
  display: block;
  height: 125px;
  width: 125px;
  margin: 15px auto;
  border-radius: 50%;
}
@media(max-width: 365px) {
  .dialog-photo {
    height: 80px;
    width: 80px;
  }
}

/* Mobile Header */
#mobile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  color: var(--secondary-color);
  height: 55px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid var(--secondary-light);
  letter-spacing: 0.5px;
  z-index: 10;
}
#mobile-header .total-merits {
  font-family: 'LeagueSpartan-Bold';
  font-size: 22px;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 5.7px;
  margin-bottom: -3px;
}
