.app-header {
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  color: #fff;
  height: 60px;
  width: 100%;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  z-index: 1;
}

.total-merits {
  position: fixed;
  background-color: var(--primary-color);
  color: #fff;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.merit-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  font-size: 1.6em;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 10px, rgba(0, 0, 0, 0.23) 0px 8px 10px;
}