.content-container {
  position: relative;
  background-color: #fafafa;
  z-index: 0;
}

/* Pull To Refresh version */
/*.content-container > div {
  background-color: #fafafa;
  height: calc(100% - 100px);
  overflow: scroll !important;
  touch-action: pan-down;
  z-index: 0;
}*/

.content-container > div {
  background-color: #fafafa;
  height: 100%;
  top: 100px;
  overflow: scroll !important;
  z-index: 0;
}

.fixed-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  bottom: 70px;
  right: 20px;
  height: 60px;
  width: 60px;
  font-size: 1.6em;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 10px, rgba(0, 0, 0, 0.23) 0px 8px 10px;
}
.fixed-button#merit-all {
  bottom: 20px;
}
.fixed-button.hidden {
  display: none;
}

/* Garnett Dialog */
.garnett-dialog-tabs > div:first-child {
  position: fixed;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: rgba(12, 42, 51, 0.3) 0px 1px 8px;
  z-index: 2;
}
.garnett-dialog-tabs > div:last-child > div {
  top: 48px;
}
.garnett-dialog-tabs.merit > div:last-child > div:first-child {
  display: flex;
  justify-content: center;
}
.garnett-dialog-tabs.chalkboard > div:first-child {
  background-color: #fff !important;
}

.garnett-dialog-body {
  display: flex;
  flex-direction: column;
  min-height: 285px;
  max-height: 352px !important;
  background-color: #fafafa;
  padding: 0 !important;
  border-bottom: 1px solid rgb(224, 224, 224) !important;
}

.garnett-dialog-content {
  width: 90% !important;
}

.garnett-dialog-title {
  background-color: var(--primary-color);
  color: #fff !important;
  font-size: 20px !important;
}

.garnett-input {
  width: 40% !important;
  max-width: 576px;
  margin: 0 auto;
}
@media(max-width: 768px) {
  .garnett-input {
    width: 80% !important;
  }
}

/* Bottom Navigation */
.bottom-tabs {
  position: fixed !important;
  bottom: 0;
  border-top: 1px solid #ccc;
}
