.app-header {
  position: fixed;
  background-color: var(--primary-color);
  color: #fff;
  height: 60px;
  width: 100%;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  z-index: 1;
}

.total-merits {
  position: fixed;
  background-color: var(--primary-color);
  color: #fff;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.merit-button {
  position: fixed;
  background-color: var(--primary-color);
  color: #fff;
  bottom: 20px;
  right: 20px;
  line-height: 60px;
  height: 60px;
  width: 60px;
  font-size: 40px;
  text-align: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 10px, rgba(0, 0, 0, 0.23) 0px 8px 10px;
}