/* Pledge App Tabs */
#pledge-app-tabs > div:first-child {
  position: fixed;
  top: 52px;
  background-color: #fff !important;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  z-index: 1;
  transition: top 0.2s ease-in-out;
}
#pledge-app-tabs > div:first-child [class^="icon-"] {
  -webkit-animation: fadeIn 0.25s ease-in;
  animation: fadeIn 0.25s ease-in;
}
/* Pledge App Tabs Ink Bar */
#pledge-app-tabs > div:nth-child(2) > div {
  position: fixed !important;
  top: 100px;
  background-color: var(--primary-color) !important;
  z-index: 1;
  transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms, top 0.2s ease-in-out !important;
  -webkit-animation: fadeIn 0.25s ease-in;
  animation: fadeIn 0.25s ease-in;
}

/* Hide on scroll for app bar, tabs, and body */
.hide-tabs {
  top: 0px !important;
}
.hide-app-bar {
  top: -52px;
}
.hide-content-container {
  top: 48px !important;
}
.content-container.hide-buttons .fixed-button{
  transform: scale(0);
}

/* Pull To Refresh version */
/*.content-container > div {
  background-color: #fafafa;
  height: calc(100% - 100px);
  overflow: scroll !important;
  touch-action: pan-down;
  z-index: 0;
}*/

/* The container for the content for each tab */
.content-container {
  position: relative;
  background-color: #fafafa;
  z-index: 0;
}
.content-container > div {
  background-color: #fafafa;
  top: 100px;
  overflow: auto !important;
  z-index: 0;
  transition: top 0.2s ease-in-out;
}
.content-container > div > div {
  margin-bottom: 48px;
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
  .content-container > div {
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch;
  }
}

.fixed-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  font-size: 1.5em;
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
  transform: scale(1);
}
.fixed-button.hidden {
  transform: scale(0);
}
@media(min-width: 901px) {
  .fixed-button {
    right: 50%;
    -webkit-transform: translateX(435px) scale(1);
    transform: translateX(435px) scale(1);
  }
  .fixed-button.hidden {
    -webkit-transform: translateX(435px) scale(0);
    transform: translateX(435px) scale(0);
  }
}

/* Garnett List, List Items, and Dividers */
.garnett-subheader {
  max-width: 700px;
  width: 100%;
  background-color: #fafafa;
  margin: auto !important;
}
.garnett-subheader.dialog {
  max-width: unset;
}

.garnett-list {
  width: 100vw;
  max-width: 700px;
  padding: 0 !important;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.garnett-list.no-header {
  margin-top: 48px !important;
}
.garnett-list.dialog {
  width: auto;
  max-width: none;
  margin: 24px auto;
}

.garnett-list-item > div > div {
  background-color: #fff;
}
.garnett-list-item.large > div > div {
  min-height: 48px;
  padding-left: 102px !important;
}
.garnett-list-item.small > div > div {
  padding: 8px 16px !important;
}
.garnett-list-item.settings > div > div {
  z-index: -1;
}
.garnett-list-item.long > div > div > div:last-child {
  height: fit-content !important;
  white-space: pre-line !important;
}

.garnett-image {
  object-fit: cover;
  top: 9px !important;
}

@media(max-width: 365px) {
  .garnett-list-item.large > div > div {
    min-height: unset;
    padding-left: 80px !important;
  }
  .garnett-image {
    height: 50px !important;
    width: 50px !important;
    top: 16px !important;
  }
}

.garnett-icon {
  font-size: 1.4em;
  color: var(--primary-color);
}

.garnett-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  height: 16px;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.garnett-description {
  word-wrap: break-word;
}

.garnett-date {
  float: right;
  color: #777;
  font-size: 14px;
  margin-left: 20px;
}

.garnett-divider {
  position: relative;
}
@media(min-width: 366px) {
  .garnett-divider.large {
    margin-left: 102px !important;
  }
}
@media(max-width: 365px) {
  .garnett-divider.large {
    margin-left: 80px !important;
  }
}

/* Garnett Dialog */

/* The actual tabs */
.garnett-dialog-tabs > div:first-child {
  position: fixed;
  background-color: #fff !important;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  z-index: 2;
}
/* The content container of the tabs */
.garnett-dialog-tabs > div:last-child > div {
  top: 48px;
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
  .garnett-dialog-tabs > div:first-child {
    -webkit-overflow-scrolling: touch;
  }
}

.garnett-dialog-body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 44px !important;
  border-bottom: 1px solid rgb(224, 224, 224) !important;
}
.garnett-dialog-body.grey {
  background-color: #fafafa;
}
.garnett-dialog-body.tabs {
  min-height: 320px;
  height: 600px;
  padding: 0 !important;
}

.garnett-dialog-content {
  width: 90% !important;
}

.garnett-dialog-title {
  background-color: var(--primary-color);
  color: #fff !important;
  font-size: 20px !important;
}

.garnett-input {
  margin: 0 auto;
  flex: 0 0 auto;
}

/* Bottom Navigation */
.bottom-tabs {
  position: fixed !important;
  bottom: 0;
  border-top: 1px solid #ccc;
}

/* Photo for mobile dialog */
.dialog-photo {
  object-fit: cover;
  position: relative;
  top: 10px;
  display: block;
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px; 
}
@media(max-width: 365px) {
  .dialog-photo {
    height: 80px;
    width: 80px;
  }
}
