.contacts-photo {
  object-fit: cover;
  display: block;
  height: 125px;
  width: 125px;
  margin: 15px auto;
  border-radius: 50%;
}
@media(max-width: 374px) {
  .contacts-photo {
    height: 100px;
    width: 100px;
  }
}

.contacts-list {
  text-align: left;
}

.contacts-list-item > div > div {
  background-color: #fff;
}

.contacts-dialog-body {
  background-color: #fafafa;
  padding: 0 0 24px !important;
}

.active-name {
  font-weight: 700;
  margin: 0;
}

@media(max-width: 700px) {
  .garnett-subheader.contacts {
    position: sticky;
    top: 0;
    line-height: 47px !important;
    border-bottom: 1px solid #e0e0e0;
    z-index: 1;
  }
}
