.contacts-dialog-body {
  background-color: var(--background-color);
  padding: 0 0 24px !important;
}

@media(max-width: 700px) {
  .garnett-subheader.contacts {
    position: sticky;
    top: 0;
    line-height: 47px !important;
    border-bottom: 1px solid var(--border-color);
    z-index: 1;
  }
}
