/* Garnett Container */
.login {
  position: absolute;
  background-color: var(--secondary-dark);
  color: #fff;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.tt-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Logo and Title */
.login-logo {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 50px;
}
@media(max-width: 768px) {
  .login-logo {
    width: 280px;
    margin-bottom: 20px;
  }
}

.login-logo img {
  height: 75px;
  margin: auto 0;
}
@media(max-width: 768px) {
  .login-logo img {
    height: 50px;
  }
}

.login-logo h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media(max-width: 768px) {
  .login-logo h1 {
    font-size: 45px;
  }
}

.tt {
  color: var(--primary-light);
}

/* Sign In and Sign Up Toggle Buttons */
.sign-options {
  display: flex;
  justify-content: space-around;
  width: 400px;
  font-size: 18px;
  margin: auto;
}
@media(max-width: 768px) {
  .sign-options {
    width: 300px;
  }
}

.sign-options span {
    cursor: pointer;
}

.sign-options span:after {
  content: '';
  display: block;
  margin: auto;
  margin-top: 5px;
  height: 2px;
  width: 0;
  background: #960018;
  transition: width .5s ease, background-color .5s ease;
}
.sign-options span.underline:after {
  width: 100%;
}

/* Form Fields */
.login-form {
  display: none;
  margin: 20px auto;
}

.login-form.active {
  display: flex;
  flex-direction: column;
  animation: fadeIn .5s ease-in forwards;
}

.login-input {
  width: 40% !important;
  max-width: 576px;
  margin: auto;
}
@media(max-width: 768px) {
  .login-input {
    width: 80% !important;
  }
}

/* Login and Sign Up Buttons */
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40%;
  max-width: 576px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  margin: 40px auto;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 10px, rgba(0, 0, 0, 0.23) 0px 8px 10px;
  cursor: pointer;
}
@media(max-width: 768px) {
  .login-button {
    width: 80%;
  }
}
.login-button:hover {
  background-color: var(--primary-dark);
}

/* Forgot Password */
#forgot-link {
  display: flex;
  justify-content: center;
  width: max-content;
  margin: auto;
}
