/* Garnett Container */
.login {
  height: 100vh;
  color: var(--secondary-dark);
  overflow: auto;
}

.tt-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Logo and Title */
.login-logo {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: auto;
  padding-top: 75px;
  margin-bottom: 50px;
}
@media(max-width: 767px) {
  .login-logo {
    width: 280px;
    margin-bottom: 20px;
  }
}

.login-logo img {
  height: 75px;
  margin: auto 0;
}
@media(max-width: 767px) {
  .login-logo img {
    height: 50px;
  }
}

.login-logo h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media(max-width: 767px) {
  .login-logo h1 {
    font-size: 45px;
  }
}

.tt {
  color: var(--primary-color);
}

.login-container {
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto 40px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px,
              rgba(0, 0, 0, 0.08) 0px 8px 18px;
}
@media(max-width: 420px) {
  .login-container {
    background-color: var(--background-color);
    box-shadow: none;
  }
}

/* Sign In and Sign Up Toggle Buttons */
.sign-options {
  display: flex;
  justify-content: space-around;
  width: 400px;
  font-size: 18px;
  margin: auto;
}
@media(max-width: 767px) {
  .sign-options {
    width: 300px;
  }
}

.sign-options span {
    cursor: pointer;
}

.sign-options span:after {
  content: '';
  display: block;
  margin: auto;
  margin-top: 5px;
  height: 2px;
  width: 0;
  background: var(--primary-color);
  -webkit-transition: width .5s ease, background-color .5s ease;
  -moz-transition: width .5s ease, background-color .5s ease;
  -o-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}
.sign-options span.underline:after {
  width: 100%;
}

/* Form Fields */
.login-form {
  display: none;
  margin: 20px auto 0;
}

.login-form.active {
  display: flex;
  flex-direction: column;
  animation: fadeIn .5s ease-in forwards;
}

.login-input {
  width: 100% !important;
  margin: auto;
}
@media(max-width: 767px) {
  .login-input {
    width: 80% !important;
  }
}
.login-input > input {
  color: var(--secondary-dark) !important;
}

/* Login and Sign Up Buttons */
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 40px auto 20px;
  border-radius: 500px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
}
@media(max-width: 767px) {
  .login-button {
    width: 80%;
  }
}
.login-button:hover {
  background-color: var(--primary-dark);
}
.login-button:disabled {
  opacity: 0.7;
  pointer-events: none;
}

/* Forgot Password */
#forgot-link {
  display: flex;
  justify-content: center;
  width: max-content;
  margin: auto;
  cursor: pointer;
}
