.medal {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 32px;
  height: 32px;
  z-index: 1;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 768px) {
  .filter-container {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.graph {
  flex: 5;
  margin: 0 10px;
}
