.icon-container {
  position: absolute;
  top: 75px;
  left: 7%;
  display: flex;
}

.log-out {
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.app-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
  font-size: 14px;
  margin-right: 6vw;
  cursor: pointer;
}
@media(max-width: 768px) {
  .app-icon {
    font-size: 13px;
  }
}
.app-icon.delibs {
  margin-right: 0;
}

.app-icon-image-container {
  position: relative;
  height: 75px;
}
@media(max-width: 768px) {
  .app-icon-image-container {
    height: 68px;
  }
}
.app-icon-image-container:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  content: '';
  opacity: 0.3;
}

.app-icon-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
@media(max-width: 768px) {
  .app-icon-image {
    height: 68px;
    width: 68px;
  }
}
