.icon-container {
  position: absolute;
  top: 12%;
  left: 8%;
  display: flex;
}

.log-out {
  float: right;
  margin-right: 15px;
}

.app-icon {
  display: flex;
  flex-direction: column;
  color: #777;
  font-size: 14px;
  margin-right: 6vw;
  text-decoration: none;
}
.app-icon > p {
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: 768px) {
  .app-icon {
    font-size: 12px;
  }
}

.app-icon-image {
  height: 75px;
  width: 75px;
  margin: auto;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
@media(max-width: 768px) {
  .app-icon-image {
    height: 65px;
    width: 65px;
  }
}
