.icon-container {
  position: absolute;
  top: 75px;
  left: 7%;
  display: flex;
  flex-wrap: wrap;
}

.app-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
  font-size: 14px;
  margin-right: 6vw;
  cursor: pointer;
}
@media(max-width: 767px) {
  .app-icon {
    font-size: 13px;
  }
}

.app-icon-image-container {
  position: relative;
  height: 75px;
}
@media(max-width: 767px) {
  .app-icon-image-container {
    height: 68px;
  }
}
@media(min-width: 992px) {
  .app-icon-image-container:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    content: '';
    opacity: 0.1;
  }
}

.app-icon-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
@media(max-width: 767px) {
  .app-icon-image {
    height: 68px;
    width: 68px;
  }
}
