/* Complaints View */
#my-complaints,
#past-complaints {
  display: none;
}
#my-complaints.active,
#past-complaints.active {
  display: block;
  padding-bottom: 57px;
  animation: fadeIn .25s ease-in forwards;
}

.complaints-description {
  word-wrap: break-word;
}

.complaints-date {
  float: right;
  margin-left: 20px;
}
