/* Complaints View */
#my-complaints,
#past-complaints {
  display: none;
}
#my-complaints.active,
#past-complaints.active {
  display: block;
  padding-bottom: 57px;
  animation: fadeIn .25s ease-in forwards;
}
