#theme-options-container {
  padding: 0 16px 20px;
}

#theme-label {
  color: var(--text-color);
  font-weight: 700;
  margin: 0 auto 16px;
}

#theme-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  font-size: 14px;
  color: var(--primary-color);
  border: 1px solid;
  border-radius: 50px;
  overflow: hidden;
}

.theme-option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.34%;
  border-right: 1px solid var(--primary-color);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.theme-option:last-child {
  border: none;
}
.theme-option.active {
  background-color: var(--primary-color);
  color: #fefefe;
}
@media (min-width: 768px) {
  .theme-option:hover {
    opacity: 0.8;
  }
}
