#theme-options-container {
  padding: 0 0 20px;
}

#theme-label {
  color: var(--text-color);
  font-weight: 700;
  margin: 0 auto 16px;
}

#theme-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  font-size: 14px;
  color: var(--primary-color);
  border: 1px solid;
  border-radius: 50px;
  overflow: hidden;
}

.theme-option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.33%;
  border-right: 1px solid var(--primary-color);
}
.theme-option:last-child {
  border: none;
}
.theme-option.active {
  background-color: var(--primary-color);
  color: #fafafa;
}
