.delibs-app {
  position: relative;
  top: 52px;
  width: 100vw;
  background-color: #fafafa;
  padding-bottom: 48px;
  z-index: 0;
}
.delibs-app.rushee {
  position: absolute;
}

/* Rushee Image */
.delibs-app .garnett-image {
  object-position: 0 50%;
}
.delibs-app .user-photo {
  object-position: 0 50%;
  height: 200px;
  width: 200px;
  margin-bottom: 23px;
}
.delibs-app .rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Rushee Profile List */
.garnett-list-item.rushee > div > div {
  z-index: -1;
}

/* Delibs Dialog */
.garnett-dialog-body.delibs {
  padding-top: 24px !important;
}

.delibs-radio-button {
  margin-bottom: 15px;
}

/* Counts interactions */
.checkbox-container {
  position: absolute;
  top: 5px;
  right: 3vw;
}

.interactedCheckbox > div {
  flex-direction: column-reverse;
  align-items: center;
}

.interactedCount {
  position: relative;
  right: -8px;
  bottom: -5px;
  margin: auto;
}
