.back-home {
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

#delibs-app {
  position: relative;
  top: 52px;
  width: 100vw;
  background-color: #fafafa;
  margin-bottom: 48px;
  z-index: 0;
}

.garnett-dialog-body.delibs {
  padding-top: 24px !important;
}

.delibs-radio-button {
  margin-bottom: 15px;
}

.rushee-profile-container {
  position: absolute;
  top: 52px;
  width: 100vw;
  background-color: #fafafa;
  z-index: 0;
}
