.back-home {
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.delibs-app {
  position: relative;
  top: 52px;
  width: 100vw;
  background-color: #fafafa;
  padding-bottom: 48px;
  z-index: 0;
}
.delibs-app.rushee {
  position: absolute;
}

/* Delibs Resources Buttons */
.delibs-resources {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  max-width: 700px;
  margin: 30px auto auto;
}

.delibs-button {
  height: 75px;
  width: 75px;
  background-color: var(--primary-color);
  margin-right: 10px;
  border-radius: 50%;
}

/* Delibs Dialog */
.garnett-dialog-body.delibs {
  padding-top: 24px !important;
}

.delibs-radio-button {
  margin-bottom: 15px;
}

/* Counts interactions */
.interactedCheckbox {
  position: absolute !important;
  top: 50%;
  right: 6%;
  width: auto !important;
  transform: translateY(-50%);
}
.interactedCheckbox > div {
  flex-direction: column;
  align-items: center;
}
