#nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  position: relative;
  font-size: 18px;
  padding-bottom: 76px;
  z-index: 1;
}
#nav-items > a,
#nav-items > div {
  cursor: pointer;
}

.nav-item {
  color: #fff;
  padding: 10px 0;
  margin-bottom: 15px;
  opacity: 0.6;
  text-decoration: none;
}
@media (max-height: 660px) {
  .nav-item {
    margin-bottom: 5px;
  }
}
.nav-item > i {
  font-size: 22px;
  margin-right: 14px;
}
.nav-item.active {
  opacity: 1;
}

.white-background {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 170px;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  transform: translateX(-50%);
}

#merit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  background-color: #f60027;
  border-radius: 8px;
  transition: opacity 0.2s ease-in-out;
}
#merit-button:hover {
  opacity: 0.8;
}
