#nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-size: 18px;
  z-index: 1;
}
#nav-items > a,
#nav-items > div {
  cursor: pointer;
}

.nav-item {
  color: #fff;
  padding: 10px 0;
  margin-bottom: 15px;
  opacity: 0.6;
  text-decoration: none;
}
@media (max-height: 660px) {
  .nav-item {
    margin-bottom: 5px;
  }
}
.nav-item > i {
  font-size: 22px;
  margin-right: 14px;
}
.nav-item.active {
  opacity: 1;
}
