#sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 280px;
  order: 1;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: var(--sidebar-color);
  color: #fefefe;
  width: 280px;
  padding: 70px 0 46px;
  letter-spacing: 0.5px;
  z-index: 10;
}
