#sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 280px;
  order: 1;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: var(--sidebar-color);
  color: #fefefe;
  width: 280px;
  padding: 70px 0 46px;
  letter-spacing: 0.5px;
  z-index: 10;
}

.white-background {
  width: 170px;
  height: 50px;
  background-color: #fff;
  margin: 30px 0;
  border-radius: 9px;
}

#merit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  background-color: var(--primary-light);
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
#merit-button:hover {
  opacity: 0.8;
}
