.contacts-photo {
  object-fit: cover;
  display: block;
  height: 100px;
  width: 100px;
  margin: 15px auto;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px; 
}

.contacts-list {
  text-align: left;
}

.contacts-list-item > div > div {
  background-color: #fff;
}

.contacts-dialog-body {
  background-color: #fafafa;
  padding: 0 0 24px !important;
}

.contacts-dialog-content {
  width: 90% !important;
}

.active-name {
  font-weight: 700;
  margin: 0;
}
