/* Pledge List */
.pledge-name {
  font-weight: 700;
  margin: 0;
}

.pledge-merits {
  float: right;
  font-family: 'Luckiest Guy';
  font-size: 18px;
  margin-right: 10px;
}

.pledge-list {
  padding: 56px 0 !important;
}

.pledge-list-item > div > div {
  background-color: #fff;
}
.pledge-list-item.large > div > div {
  padding-left: 102px !important;
}

.pledge-image {
  object-fit: cover;
}

.pledge-image.large {
  top: 9px !important;
}

.pledge-divider {
  position: relative;
}
.pledge-divider.large {
  margin-left: 102px !important;
}

/* Merit Dialog */
.merit-dialog-tabs > div:first-child {
  position: fixed;
  z-index: 2;
}
.merit-dialog-tabs > div:last-child > div {
  top: 48px;
}

.merit-container {
  margin-left: 20px;
}

.merit-dialog {
  padding-top: 90px !important;
}

.merit-dialog-body {
  min-height: 285px;
  max-height: 352px !important;
  padding: 0 !important;
  border-bottom: 1px solid rgb(224, 224, 224) !important;
}

.merit-dialog-content {
  width: 90% !important;
}

#merit-dialog-list {
  background-color: #fafafa;
}

.merit-all-dialog {
  background-color: var(--primary-color);
  color: #fff !important;
  font-size: 20px !important;
}

/* Merit List */
.merit-name {
  font-weight: 700;
  margin: 0;
}

.merit-amount-container {
  float: right;
  margin-right: 10px;
  text-align: center;
}
.merit-amount-container.small {
  margin-top: -6px;
}

.merit-amount {
  font-family: 'Luckiest Guy';
  font-size: 18px;
  margin: 0;
  margin-top: 15px;
}
.merit-amount.small {
  margin-top: 10px;
}

.merit-date {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  margin: 0;
}
.merit-date.small {
  font-size: 12px;
}
