/* Merit Book */
#pledge-meritbook {
  padding-bottom: 57px;
}

/* Pledge List */
.pledge-name {
  font-weight: 700;
  margin: 0;
}

.pledge-merits {
  float: right;
  font-family: 'Luckiest Guy';
  font-size: 18px;
  margin-right: 10px;
}

/* Merit List */
.merit-amount-container {
  float: right;
  margin-right: 10px;
  text-align: center;
}
.merit-amount-container.small {
  margin-top: -6px;
}

.merit-amount {
  font-family: 'Luckiest Guy';
  font-size: 18px;
  margin: 0;
  margin-top: 15px;
}
.merit-amount.small {
  margin-top: 10px;
}

.merit-date {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  margin: 0;
}
.merit-date.small {
  font-size: 12px;
}

/* Total Merits for Pledges */
.total-merits-container {
  background-color: #fff;
  color: #777;
  line-height: 57px;
  height: 57px;
  width: 100%;
  font-size: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}
.total-merits {
  font-family: 'Luckiest Guy';
  color: rgba(0, 0, 0, 0.87);
}

/* Merit Button */
#active-meritbook .fixed-button {
  bottom: 20px;
}

/* Merit Dialog */
#remaining-merits {
  font-size: 14px;
  margin: 20px auto 0;
}
.garnett-list.dialog.pledge {
  margin-top: 0;
}
