.user-photo {
  object-fit: cover;
  display: block;
  height: 150px;
  width: 150px;
  margin: 15px auto;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px; 
}

.settings-icon {
  font-size: 1.4em;
  color: var(--primary-color);
}